* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

header {
  .header-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    background-color: white;
    margin-top: 80px;
  }
  nav {
    display: flex;
    gap: 50px;
  }
  .nav-link {
    font-size: 20px;
    color: black;
    text-decoration: none;
  }
}
.container {
  margin-left: 200px;

  .background {
    background: url(image.png.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    width: 90%;
  }
  .hero-title {
    color: white;
    font-size: 78px;
    padding-top: 250px;
    padding-left: 80px;
  }
  .for-button {
    margin-left: 90px;
    margin-top: 80px;
  }
  .for-container {
    background-color: #ff3838;
    size: 100px;
    border-radius: 45px;
    width: 220px;
    height: 72px;
    color: white;
    font-size: 20px;
  }
}
