* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    font-family: "Poppins", sans-serif;
  }
  
  header {
    .header-container {
      
      display: flex;
      justify-content: center;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 80px;
      background-color: white;
      margin-top: 80px;
    }
    nav {
      display: flex;
      gap: 50px;
    }
    .nav-link {
      font-size: 20px;
      color: black;
      text-decoration: none;
    }
  }
  .container {
    .background {
      background: url(image.png.png);
      background-size: cover;
      background-repeat: no-repeat;
       background-position-x: center;
      height: 800px;
      width: 100%;
    }
    .hero-title {
      color: white;
      font-size: 78px;
      padding-top: 250px;
      padding-left: 80px;
    }
    .for-button {
      margin-left: 90px;
      margin-top: 80px;
    }
    .for-container {
      background-color: #ff3838;
      size: 100px;
      border-radius: 45px;
      width: 220px;
      height: 72px;
      color: white;
      font-size: 20px;
    }
    
  }
  .about-container{ 
    margin-top: 60px;
    .about {
      text-align: center;
      font-size: 60px;
    }
    .lorem{
      font-family: 'Poppins', sans-serif;
      text-align: center;
      font-size: 20px;
      color: hwb(0 58% 42%);
    }
    .button-container{
      margin-top:50px;
      margin-left:570px;
    }
    .for-button1{
      background-color:#ff3838 ;
      size:100px;
      border-radius:45px;
      width:220px;
      height:72px;
      color:#fff;
      font-size:20px
    }
    .how-it-works{
      margin-top:60px;
    }
    .how-container{
      text-align: center;
      font-size: 50px;
    }
    
}
.for-pic-and-write{
  display: grid;
  grid-template-columns: 1fr 2fr;
 

 .pic-side{
  margin-top: 30px;
  
}
 .left { 
  width:100%;
  height: 350px;
 }
 .write-side{
                                      
  margin-top: 50px;
  
    font-size: 30px;

}
.right-write-lorem{
  color: #939393;
  font-family: 'Poppins', sans-serif;
padding: 10px;
}

 .how-button{
  background-color: #ff3838;
  size:100px;
border-radius:45px;
border-color: #ff3838;
width:220px;
height:72px;
color:#fff;
font-size:20px;
 }


}
.for-write-and-pic{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  .left-write{
    
    margin-top: 80px;
   
    font-size: 30px;
  }
  .left-lorem {
    color: #939393;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
 }
 .right-pic{
  margin-top: 80px;
  }
  .right{
    width: 100%;
    height: 350px;
 }
 .button-left{
  padding: 50px;
 }
 .how-button2{
  background-color: #ff3838;
  size:100px;
  border-radius:45px;
  border-color: #ff3838;
  width:220px;
  height:72px;
  color:#fff;
  font-size:20px
}
}



 