*{
    box-sizing:border-box;
    padding:0;
    margin:0
  }
body{
 max-width: 1100px;
  margin-left:auto;
  margin-right:auto;
  font-family:"Poppins",sans-serif
}

header .header-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
 height: 150px;
  background-color:#fff;
 
}
header nav{
  display:flex;
  gap:50px
}
header .nav-link{
  font-size:20px;
  color:#000;
  text-decoration:none
  }

.container .background{
  background:url(image.png.png);
  background-size:cover;
  background-position-x: center;
  height:800px;
  width:100%
}
.container .hero-title{
  color:#fff;
  font-size:78px;
  padding-top:250px;
  padding-left:80px
}
.container .for-button{
  margin-left:90px;
  margin-top:80px;
}
.container .for-container{
  background-color:#ff3838;
  size:100px;
  border-radius:45px;
  width:200px;
  height:70px;
  color:#fff;
  font-size:20px;
  border-color: #ff3838;
}
.about-container {
  margin-top: 60px;
}
.about-container .about{
  text-align: center;
  font-size: 40px;
}
.about-container .lorem{
  text-align: center;
  font-size: 20px;
  color: #939393;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 40px;
}
.about-container .button-container{
  
  display: flex;
  justify-content: center;
}
.about-container .for-button1{
  background-color: #ff3838;
  size:100px;
  border-radius:45px;
  width:200px;
  height:70px;
  color:#fff;
  font-size:20px;
  border-color: #ff3838;
  
}
.about-container .how-it-works{
  margin-top:60px;
}
.about-container .how-container{
  text-align: center;
  font-size: 40px;
}
.for-pic-and-write{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 40px;
  margin-left: 40px;
  
}
.for-pic-and-write .pic-side{
 margin-top: 20px;
    padding: 20px;

  
}
.for-pic-and-write .left { 
  width: 100%;
  height: 350px;
}
.for-pic-and-write .write-side{
  margin-top: 50px;
  font-size: 25px;
  
}
.for-pic-and-write .right-write-lorem{
  color: #939393;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  padding-bottom: 20px;
  
}

.for-pic-and-write .how-button{
  background-color: #ff3838;
  size:100px;
  border-radius:45px;
  border-color: #ff3838;
  width:200px;
  height:70px;
  color:#fff;
  font-size:20px;

}
.for-write-and-pic{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 50px;
  margin-right: 40px;
  
}
.for-write-and-pic .left-write{
    
  
  margin-top: 80px;
  
  font-size: 25px;
}
.for-write-and-pic .left-lorem {
  color: #939393;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  padding-bottom: 20px;
}
.for-write-and-pic .right-pic{
  margin-top: 80px;
 
}
.for-write-and-pic .right{
  width: 100%;
  height: 350px;
}

.for-write-and-pic .how-button2{
  background-color: #ff3838;
  size:100px;
  border-radius:45px;
  border-color: #ff3838;
  width:200px;
  height:70px;
  color:#fff;
  font-size:20px
}
.specialized {
    margin-top: 40px;
}
.specialized .spe-container {
    text-align: center;
    font-size:40px;
}
.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 100px;
  padding-top: 30px;
}
.grid2 .first-side-grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid2 .icon1{

width: 60px;
height: 60px;
}
.grid2 .icon1-write{
    font-size: 30px;
  padding: 10px;
text-align: center;
}
.grid2 .icon1-p{
    color: #939393;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
  font-size: 20px;
 
  text-align: center;

}

.grid2 .icon1-b{
    background-color: #ff3838;
    size:100px;
    border-radius:45px;
    border-color: #ff3838;
    width:200px;
    height:70px;
    color:#fff;
    font-size:20px
}
.grid2 .second-side-grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid2 .icon2{
    width: 60px;
    height: 60px;
}

.grid2 .icon2-h1{
    padding: 10px;
    font-size: 30px;
   text-align: center;
}
.grid2 .icon2-p{
    color: #939393;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
  
}
.grid2 .button2-side{
    padding: 30px;

}
.grid2 .icon2-b{
    background-color: #ff3838;
    size:100px;
    border-radius:45px;
    border-color: #ff3838;
    width:200px;
    height:70px;
    color:#fff;
    font-size:20px;
}
.grid2 .icon3-write1{
  font-size: 30px;
  padding: 10px;
 text-align: center;
}
.grid2 .icon3-p1{
  color: #939393;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
 
}
.grid2 .icon4-h1{
  font-size: 30px;
  padding: 10px;
  text-align: center;

}
.grid2 .icon4-p1{
  color: #939393;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
 
  
}
.like-video{
  margin-top:30px;
  width:100% ;
  height: 570px;
}
.work{
  margin-top: 40px;
  font-size: 40px;
  text-align: center;
}
.work-pictures{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  
}
.work-pictures .image1{
  width: 95%;
}
.work-pictures .image2{
  width: 100%;
  height: 95%;
}
.work-pictures2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.work-pictures2 .image3{
  width: 95%;
  height: 90%;
}
.work-pictures2 .image4{
  width: 95%;
  height: 90%;
}
.work-pictures2 .image5{
  width: 100%;
  height: 90%;
}
.what-we-post{
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
}
.what-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  margin-left: 30px;
  margin-left: 30px;
}
.what-container .image6{
  width: 93%;
}
.what-container .image6-h2{
  font-size: 35px;
  padding-top: 20px;
  
}
.what-container .image6-p{
  color: #939393;
  font-family: 'Poppins', sans-serif;
 
  font-size: 25px;
}
.what-container .image6-button{
padding-top:30px;
}
.what-container .button-left{
  background-color: #ff3838;
    size:100px;
    border-radius:45px;
    border-color: #ff3838;
    width:200px;
    height:70px;
    color:#fff;
    font-size:20px
}
.what-container .image7{
  width: 100%;
height: 52%;
}
.background-container{
  margin-top: 20px;
}
.background-container .background2{
  background:url(./Image\ 8.png);
  background-size:cover;
  background-position-x: center;
  height:500px;
  width:100%;
}

.background-container .hero-title2{
  text-align: center;
  color: white;
  font-size: 78px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.background-container .back-button{
  display: flex;
  justify-content: center;
  
}
.background-container .background-button2{
  background-color: #ff3838;
  size:100px;
  border-radius:45px;
  border-color: #ff3838;
  width:200px;
  height:70px;
  color:#fff;
  font-size:20px
}
.icons {
  margin-top:60px;
 display: flex;
 justify-content: center;
}
.icons .insta{
  margin: 5px;
}
.icons-p{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 40px;
  color: #939393;
  font-family: 'Poppins', sans-serif;
 text-align: center;
  font-size: 25px;
}
.privacy-div {
  display: flex;
 justify-content: center;
  margin-top:40px;
}
.privacy-div .privacy{
  margin: 10px;
  color: #939393;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
.last-logo{
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
 @media screen and (max-width:600px) {

header .header-container{
  display: flex;
  flex-direction: row;
  height: 150px;
}
header nav {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  padding-right: 10px;
  
}
.container{
  padding-top: 40px;
}
.container .hero-title{
  font-size: 60px;
}
.container .background{
  height: 900px;
}
.for-pic-and-write{
  display: flex;
  flex-direction: column;
}
.for-pic-and-write .left{
  object-fit: cover;
  
}
.for-pic-and-write .pic-side{
  display: flex;
  justify-content: center;
}
.for-pic-and-write .write-side{
  text-align: center;
}
 .for-write-and-pic{
  display: flex;
  flex-direction: column-reverse;
}
.for-write-and-pic .left-write{
  text-align: center;
}
.for-write-and-pic .right-pic{
  display: flex;
  justify-content: center;
}
.for-write-and-pic .right{
  object-fit: cover;
} .grid2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;
}
.container .first-side{
  display: flex;
  justify-content: center;
}
.container .button1-side{
  display: flex;
  justify-content: center;
}
.what-container{
  display: flex;
  flex-direction: column;
}
.what-container .image6{
  width: 100%;
}
.what-container .image6-h2{
  text-align: center;
}
.what-container .image6-p{
  text-align: center;
}
.what-container .image6-button{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.background-container .background2{
  height: 800px;
}
.background-container .hero-title2{
  font-size: 60px;
}
.icons-p{
  margin-left: 0;
  margin-right: 0;
}


  
 }


                                      
                                    


